@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding: 3rem;
  /*background: linear-gradient(to right, #e0f7fa, #f3e5f5, #d4ccf8);*/
  background-image: url(b675fccd-b62f-40f5-a384-387ed8195315.jpg);
  background-size: cover;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}


/*.wrapper::before{
	position: absolute;
	content:'';
	height: 400px;
	width: 400px;
	border-radius: 50%;
	left: -12%;
	top: 35%;
	background: linear-gradient(45deg,#7f00ff,pink);
	animation: object1 6s linear infinite;
}

.wrapper::after{
	position: absolute;
  margin-left: 450px;
	content:'';
  z-index: -1;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	left: 35%;
	top: 15%;
	background: linear-gradient(45deg,#7f00ff,pink);
	animation: object2 6s linear infinite;
}

@keyframes object1 {
	50%{
		left: -12%;
		top: 41%;
	}
}

@keyframes object2 {
	50%{
		left: 35%;
		top: 10%;
	}
}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
